# Supabase (обязательно)
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# Prisma
DATABASE_URL=
DIRECT_URL=

# Supabase Service Role (для Server Actions)
SUPABASE_SERVICE_ROLE_KEY=

# Smartshell
SMARTSHELL_API_TOKEN=

# VK Bot (уведомления)
VK_BOT_TOKEN=
VK_GROUP_ID=
VK_CONFIRMATION_TOKEN=
